<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>D3.js</title>
  </head>

  <body>
    <p>
      D3.js Charts
    </p>
    <ul>
      <li>
        <a href="/stacked-area-chart">Stacked Area Chart</a>
      </li>
      <li>
        <a href="/data-clips">Data Clips</a>
      </li>
      <li>
        <a href="/scatter-plot">Scatter Plot</a>
      </li>
      <li>
        <a href="/pie">Pie Chart</a>
      </li>
      <li>
        <a href="/multi-bar-horizontal">MultiBar Horizontal Chart</a>
      </li>
      <li>
        <a href="/multi-bar">MultiBar Chart</a>
      </li>
    </ul>
  </body>
</html>
