!!! 5
%html
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %title D3.js
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  %body(class='apps-index-page' data-spy="scroll" data-target=".subnav" data-offset="50")
    %ul
      %li
        %a{:href => "/stacked-area-chart"} 
          Stacked Area Chart
      %li
        %a{:href => "/data-clips"} 
          Data Clips
      %li
        %a{:href => "/scatter-plot"} 
          Scatter Plot
      %li
        %a{:href => "/pie"} 
          Pie Chart
      %li
        %a{:href => "/multi-bar-horizontal"} 
          MultiBar Horizontal Chart
      %li
        %a{:href => "/multi-bar"} 
          MultiBar Chart
      %li
        %a{:href => "/cumulative-line"} 
          Cumulative Line Chart
      %li
        %a{:href => "/discrete-bar"} 
          Discrete Bar Chart
