<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3.js</title>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <script type="text/javascript" src="/nvd3/nv.d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/nvd3/nv.d3.css" />
    <link rel="stylesheet" type="text/css" href="/css/d3js.common.css" />
  </head>

  <body>
    D3.js
    <div>
      MultiBar Horizontal
      <svg id= "chart1"> </svg>
      <script type="text/javascript" src="/js/d3js.multi-bar-horizontal.js"></script>
    </div>
  </body>
</html>
