<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>D3.js</title>
    <script type="text/javascript" src="/d3/d3.min.js"></script>
    <script type="text/javascript" src="/nvd3/nv.d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/nvd3/nv.d3.css" />
  </head>

  <body>
    D3.js
    <div>
      Regular pie chart
      <svg id= "chart1" style='height:500px;width:400px'> </svg>
      Donut chart
      <svg id= "chart2" style='height:500px;width:400px'> </svg>
      <script type="text/javascript" src="/js/d3js.pie.js"></script>
    </div>
  </body>
</html>
